
:root {
    --headercolor: darkblue;
    --current: lightyellow;
    --button: #7a0c6b;
    --buttonText: white;
    --titlebackground: #7a0c6b;
    --marginbottom: .4rem;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*, *::after, *::before{
    box-sizing: border-box;
}

/*.open {
    transform: scale(1, 0);
    transform-origin:top;
    transition: transform 400ms ease-in-out;
}
*/


.flexcontainer {
    display: flex;
    width: 100%;
}

.leftPanel {
}

.rightPanel {
    width: 90%;
    margin-left: 1rem;
}

/*

    left panel cards, in order 
    
*/

.divupfolder {
    margin-left: 3rem;
}




/*

    helper classes

*/
.linenumber {
    width: 2rem;
    text-align: right;
    font-size: .9rem;
}

.clickable:hover {
    cursor: pointer;
}

button {
    color: var(--buttonText);
    font-weight: bold;
    background-color: var(--button);
    height: 2rem;
    width: auto;
    margin: auto;
    border: 0px solid white;
}

.tinytextwhite {
    color: white;
    font-size: 0.6rem;
    font-weight: normal;
}

.current {
    background-color: var(--current);
    font-weight: bold;
}

.dragEnter {
    color: red;
    border: 1px solid red;
    background-color: yellow;
}


ul {
    list-style: none;
    margin-left: 1rem;
    padding-left: 0px;
}


li {
    text-wrap: none;
    white-space: nowrap;
}

/*
    Tree View

*/

.divDirectoryTreeContainer {
    padding-right: 10px;
}


.divDirectoryTree {
    border: 1px solid gray;
    margin-bottom: 1rem;
}

.folderUL {
    width: auto;
}

    .folderUL li::before, .folder::before {
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
        background-image: url('/img/folder.svg');
        margin-right: 10px;
        top: 3px;
        position: relative;
        filter: invert(60%) sepia(32%) saturate(3313%) hue-rotate(20deg) brightness(104%) contrast(101%);
    }

.fileUL li {
    padding-right: 10px;
    margin-right: 10px;
    border: 0px solid green;
    white-space: nowrap;
    overflow: hidden;
}

    .fileUL li::before, .file::before {
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
        background-image: url('/img/file.svg');
        margin-right: 10px;
        top: 3px;
        position: relative;
        filter: invert(8%) sepia(100%) saturate(6341%) hue-rotate(247deg) brightness(90%) contrast(145%);
    }


#knockoutContainer {
    width: 100%;
}



.hidden {
    visibility: hidden;
}


/* 

    icons 

*/
.deleteicon {
    height: 1.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.downloadicon {
    height: 1.3rem;
    margin-right: 1rem;
}

.trashiconhover {
    height: 3rem;
    /* red  
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(112deg) brightness(109%) contrast(97%); */
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    border: 0px solid red;
}

.trashicon {
    height: 3rem;
    /* white                                   */
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(180deg) brightness(100%) contrast(105%);
}

.copyicon {
    height: 1rem;
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(112deg) brightness(109%) contrast(97%);
}

.goupicon {
    height: 1.2rem;
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(112deg) brightness(109%) contrast(97%);
}





footer {
    margin-top: 5rem;
    font-size: .8rem;
}



.divCurrentFolder {
    margin-bottom: var(--marginbottom);
}
/*  */
.currentfolder {
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--titlebackground);
    color: white;
    padding: 1rem;
    margin-bottom: .3rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: var(--marginbottom);
}

    .currentfolder::before {
        content: "Current Folder";
        font-size: .7rem;
        position: relative;
        top: -.8rem;
        left: -.8rem;
    }



/*


    Right Side 


*/


/* 
    
    
    
    SEARCH 



*/
.divSearchResults {
    border: 1px solid gray;
    margin-bottom: var(--marginbottom);
    /*    margin-top: 1rem;*/
}

.divSearchBody {
    padding: 1rem;
    border: 0px solid red;
}
.searchform {
    display:flex;
    max-width:300px;
    justify-content:space-between;
}
.searchresults {
    text-align: left;
    border: 0px solid red;
}

    .searchresults ul {
        border: 0px solid green;
        text-align: left;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        xleft: -50px;
        position: relative;
        font-size: 1rem;
    }
input.search {
    width: 100%;
}
.searchbutton{
    margin-left:1rem;
}

/*
    

    UPLOAD


*/
.divUploadFiles {
    border: 1px solid gray;
    flex-basis:30%;
    min-width: 400px;
    margin-bottom:var(--marginbottom);
}

.uploadPanel {
    padding: 1rem;
}


/*

    STATUS

*/

.statusMessage {
    border: 1px solid gray;
    background-color: #eee;
    padding: 1rem;
    font-size: .8rem;
    overflow: scroll;
    
}
.xxxxxxxxxxxxxxxxxxxcell 
{
    flex-basis: 30%;
}






.divFolders {
    border: 1px solid gray;
    margin-bottom: var(--marginbottom);
    /*margin-top: 1rem;*/
}

.divFiles {
    border: 1px solid gray;
    margin-bottom: var(--marginbottom);
    /*margin-top: 1rem;*/
}


.divContents {
    margin-bottom: var(--marginbottom);
}

.divShowFile {
    border: 1px solid gray;
    padding: 1rem;
    width: auto;
    overflow: scroll;
}

.header {
    background-color: var(--headercolor);
    color: white;
    font-weight: bold;
    padding: 1rem;
    white-space: nowrap;
}

    .header:hover {
        cursor: pointer;
    }



