body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style:none;
}

#knockoutContainer
{
    width:100%;
}

.currentfolder{
    font-weight:bold;
    font-size:1.2rem;
    background-color:#666;
    color:white;
    padding:1rem;
    margin-bottom:2px;
}

.statusMessage{
    border:1px solid gray;
    min-height:1rem;
    background-color: #eee;
    padding:1rem;
    margin-bottom:.5rem;
}
.hidden{
    visibility:hidden;
}

.deleteicon {
    height:1.3rem;
    margin-left:1rem;
    margin-right:1rem;
}
.downloadicon {
    height: 1.3rem;
    margin-right: 1rem;
}

.copyicon {
    height: 1rem;
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(112deg) brightness(109%) contrast(97%);
}
.goupicon {
    height: 1.2rem;
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(112deg) brightness(109%) contrast(97%);
}

.linenumber {
    width:2rem;
    text-align:right;
    font-size:.9rem;
}

.clickable:hover {
    cursor: pointer;
}


footer {
    margin-top: 5rem;
    font-size: .8rem;
}


.divFolders{
    border:1px solid gray;
    margin-bottom:1rem;
}

.divFiles {
    border: 1px solid gray;
    margin-bottom: 1rem;
}

.divSearchResults {
    border: 1px solid gray;
    margin-bottom: 1rem;
}

#divSearchBody
{
    padding:1rem;
}
.divUploadFiles {
    border: 1px solid gray;
    margin-bottom: 1rem;
    
}

.divShowFile{
    border:1px solid gray;
    padding:1rem;
    width:auto;
    min-width:700px;
    max-width:900px;
    overflow:scroll;
}

.uploadPanel{
    padding:1rem;
}

.header {
    background: gray;
    color: white;
    font-weight:bold;
    padding:1rem;
}
