
:root {
    --headercolor: darkblue;
    --current: lightyellow;
    --button: darkgray;
    --buttonText: darkblue;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.container 
{
   display:flex;
   width:100%;
}

button {
    color: var(--buttonText);
    font-weight: bold;
    background-color: var(--button);
    height: 2rem;
    width: auto;
    margin: auto;
    border:0px solid white;
}

.tinytextwhite {
    color: white;
    font-size: 0.6rem;
    font-weight:normal;
}

h1 {
    color: var(--headercolor);
}

/* dragging */
.current{
    background-color: var(--current);
    font-weight:bold;
}


ul {
    list-style: none;
    margin-left:1rem;
    padding-left:0px;
}

.dragEnter {
    color: red;
    border: 1px solid red;
}

li {
    text-wrap:none;
    white-space:nowrap;
}

.divDirectoryTreeContainer {
    xmargin-left:-30px;
    padding-right:10px;
}

.folderUL
{
    width:auto;
}
    .folderUL li::before {
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
        background-image: url('/img/folder.svg');
        margin-right: 10px;
        top: 3px;
        position: relative;
        filter: invert(60%) sepia(32%) saturate(3313%) hue-rotate(20deg) brightness(104%) contrast(101%);
    }

.fileUL li {
    
    padding-right:10px;
    margin-right:10px;
    border:0px solid green;
    white-space:nowrap;
    overflow:hidden;
}

    .fileUL li::before {
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
        background-image: url('/img/file.svg');
        margin-right: 10px;
        top: 3px;
        position: relative;
        filter: invert(8%) sepia(100%) saturate(6341%) hue-rotate(247deg) brightness(90%) contrast(145%);
    }


#knockoutContainer {
    width: 100%;
}

.statusMessage {
    border: 1px solid gray;
    height: 6rem;
    background-color: #eef;
    padding: 1rem;
    margin-bottom: .4rem;
    
    font-size:.8rem;
    overflow:scroll;
}

.hidden {
    visibility: hidden;
}

.deleteicon {
    height: 1.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.downloadicon {
    height: 1.3rem;
    margin-right: 1rem;
}

.trashiconhover {
    height: 3rem;
    /* red  
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(112deg) brightness(109%) contrast(97%); */
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    border:0px solid red;
}
.trashicon {
    height: 3rem;
    /* white                                   */
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(180deg) brightness(100%) contrast(105%);
}

.copyicon {
    height: 1rem;
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(112deg) brightness(109%) contrast(97%);
}

.goupicon {
    height: 1.2rem;
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(112deg) brightness(109%) contrast(97%);
}



.linenumber {
    width: 2rem;
    text-align: right;
    font-size: .9rem;
}

.clickable:hover {
    cursor: pointer;
}


footer {
    margin-top: 5rem;
    font-size: .8rem;
}



.divCurrentFolder {
    margin-bottom: .4rem;
}

.currentfolder {
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #7a0c6b;
    color: white;
    padding: 1rem;
    margin-bottom: .3rem;
    display:flex;
    justify-content:space-between;
}

    .currentfolder::before {
        content: "";
        font-size: .7rem;
        position: relative;
        top: -.8rem;
        left: -.8rem;
    }


.divSearchResults {
    border: 1px solid gray;
    margin-bottom: .4rem;
    /*    margin-top: 1rem;*/
}
.divSearchBody {
    padding: 1rem;
    border:0px solid red;
    text-align:left;
}

.searchresults 
{
    text-align:left;
    border:0px solid red;
}
.searchresults ul {
    border:0px solid green;
    text-align:left;
    width:auto;
    margin-left: auto;
    margin-right:auto; 
    left:-50px;
    position:relative;
    font-size:1rem;
}

.divUploadFiles {
    border: 1px solid gray;
    margin-bottom: .4rem;
    min-width: 400px;
}
.uploadPanel {
    padding: 1rem;
}
.divDirectoryTree {
    border: 1px solid gray;
    margin-bottom: 1rem;
    
}


/* right side */

.divFolders {
    border: 1px solid gray;
    margin-bottom: .4rem;
    /*margin-top: 1rem;*/
}

.divFiles {
    border: 1px solid gray;
    margin-bottom: .4rem;
    /*margin-top: 1rem;*/
}


.divContents {
    margin-bottom: .4rem;
}
.divShowFile {
    border: 1px solid gray;
    padding: 1rem;
    width: auto;
    overflow: scroll;
}

.header {
    background-color: var(--headercolor);
    color: white;
    font-weight: bold;
    padding: 1rem;
}

    .header:hover {
        cursor: pointer;
    }
